/* App.css */

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-image: url('https://img.freepik.com/free-vector/circles-background-dark-tones_60389-166.jpg?size=626&ext=jpg&ga=GA1.1.1141335507.1719187200&semt=ais_user'); /* Replace with your image path */
  background-size: cover;
  background-position: center;
  height: 100vh; /* Ensures full viewport height */
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
