/* Form.css */

.form-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 50px;
    background-color: #f0f0f0;
    background-image: url('https://w0.peakpx.com/wallpaper/474/857/HD-wallpaper-abstract-31-art-background-color-creativity-design-form-geometry-graphics-lines-thumbnail.jpg'); 
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-control {
   
    width: 100%;
    padding: 10px;
    font-size: 16px;
    font-style: oblique;
    border: 3px solid #073b18;
    border-radius: 30px;
  }
  
  .btn {

    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .btn-primary {
    background-color: #007bff;
    border: none;
    border-radius: 30px;
    padding: 10px;
    color: #fff;
  }
  
  .btn-secondary {
    background-color: #6c757d;
    border-radius: 30px;
    border: none;
    color: #fff;
  }
  
  .btn-success {
    background-color: #28a745;
    border: none;
    border-radius: 30%;
    color: #fff;
  }
  
  .error-message {
    color: #dc3545;
    font-size: 14px;
    margin-top: 5px;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  /* Optional: Adjust form layout for OTP section */
  .form-group.otp-group {
    display: flex;
    align-items: center;
  }
  
  .form-group.otp-group label {
    margin-right: 10px;
  }
  